@charset "UTF-8";
/* line 17, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../_build/scss/main.scss */
body, html {
  height: 100%;
  font: 12px "メイリオ","ＭＳ ゴシック","ヒラギノ",arial,helvetica,clean,sans-serif;
}

/* line 10, ../_build/scss/main.scss */
.wrapper {
  width: 100%;
  min-height: 100%;
  margin-bottom: -25px;
}

/* line 16, ../_build/scss/main.scss */
.contentTop {
  width: 100%;
  height: 380px;
  background-color: #415D9E;
  text-align: center;
}
/* line 21, ../_build/scss/main.scss */
.contentTop .title {
  padding-top: 137px;
}
/* line 25, ../_build/scss/main.scss */
.contentTop .copy {
  font-size: 125%;
  color: #fff;
  margin-top: 40px;
}
/* line 31, ../_build/scss/main.scss */
.contentTop .notes {
  color: #fff;
  font-size: 80%;
  line-height: 160%;
  margin-top: 20px;
}
/* line 38, ../_build/scss/main.scss */
.contentTop .snsList {
  position: absolute;
  top: 20px;
  right: 30px;
  padding: 5px 30px;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  *zoom: 1;
}
/* line 45, ../_build/scss/main.scss */
.contentTop .snsList li {
  float: left;
  margin: 0 10px;
}
/* line 49, ../_build/scss/main.scss */
.contentTop .snsList .twitter {
  width: 100px;
}

/* line 55, ../_build/scss/main.scss */
.contentForm {
  position: absolute;
  top: 338px;
  left: 50%;
  margin-left: -362px;
}
/* line 60, ../_build/scss/main.scss */
.contentForm .checkForm {
  overflow: hidden;
  *zoom: 1;
}
/* line 63, ../_build/scss/main.scss */
.contentForm .checkForm .urlField {
  float: left;
  width: 490px;
  height: 40px;
  margin: 16px 0 0 10px;
  border: 5px solid #fff;
  color: #666;
  font-size: 200%;
  -webkit-box-shadow: 0 0 6px 2px #666666;
  -moz-box-shadow: 0 0 6px 2px #666666;
  box-shadow: 0 0 6px 2px #666666;
}
/* line 73, ../_build/scss/main.scss */
.contentForm .checkForm .checkBtn {
  margin-left: 20px;
}

/* line 79, ../_build/scss/main.scss */
.contentResult {
  padding-top: 80px;
}
/* line 82, ../_build/scss/main.scss */
.contentResult .resultTable {
  width: 800px;
  margin: 0 auto;
  font-size: 120%;
}
/* line 86, ../_build/scss/main.scss */
.contentResult .resultTable th {
  font-weight: bold;
}
/* line 89, ../_build/scss/main.scss */
.contentResult .resultTable th, .contentResult .resultTable td {
  width: 248px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px 0;
}
/* line 97, ../_build/scss/main.scss */
.contentResult .groupSearchPost {
  width: 800px;
  margin: 30px auto 0;
}
/* line 101, ../_build/scss/main.scss */
.contentResult .groupSearchPost .title {
  font-size: 140%;
  font-weight: bold;
  color: #333;
  padding-bottom: 5px;
  border-bottom: solid 1px #ccc;
}
/* line 109, ../_build/scss/main.scss */
.contentResult .groupSearchPost .groupPost {
  display: none;
  margin-bottom: 55px;
}
/* line 113, ../_build/scss/main.scss */
.contentResult .groupSearchPost .groupPost .notes {
  margin-top: 30px;
  color: #666;
  font-size: 90%;
  text-align: center;
}
/* line 120, ../_build/scss/main.scss */
.contentResult .groupSearchPost .groupPost .searchPostBtn {
  width: 274px;
  height: 85px;
  margin: 5px auto 0;
  text-indent: -9999px;
  background: url("../img/search_post_btn.png") no-repeat;
  cursor: pointer;
}

/* line 131, ../_build/scss/main.scss */
.footer {
  height: 25px;
  background-color: #415D9E;
}
/* line 135, ../_build/scss/main.scss */
.footer .copyright {
  padding-top: 7px;
  text-align: center;
  color: #fff;
  font-size: 80%;
}

/* line 143, ../_build/scss/main.scss */
.postResult {
  padding: 15px 0;
  border-bottom: solid 1px #ccc;
  overflow: hidden;
  *zoom: 1;
}
/* line 147, ../_build/scss/main.scss */
.postResult a {
  text-decoration: none;
}
/* line 150, ../_build/scss/main.scss */
.postResult .leftBox {
  float: left;
}
/* line 153, ../_build/scss/main.scss */
.postResult .rightBox {
  margin-left: 70px;
  color: #333;
}
/* line 156, ../_build/scss/main.scss */
.postResult .rightBox .name {
  font-weight: bold;
}
/* line 159, ../_build/scss/main.scss */
.postResult .rightBox .message {
  margin-top: 10px;
  font-size: 90%;
  word-wrap: break-word;
  line-height: 140%;
}
